{% extends 'base.html' %}
{% block content %}
<h1>Authentic and Homemade</h1>
<h2>Hours: Monday - Friday 9am - 9pm</h2>
<h2>About Us</h2>
<p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolores eveniet. Architecto laudantium, molestias soluta eaque fugit illo dolorem sint? Necessitatibus vero eligendi sed odit eius at accusamus, eum dicta.</p>
<h2>Mission Statement</h2>
<blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempore quis impedit dolores tenetur quos, esse praesentium ratione expedita est excepturi harum asperiores rerum quidem. Repellendus, dolores ex? Eaque, quas?</blockquote>
{% endblock %}